.container {
    padding: 16px;
    border-radius: 8px;
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    min-width: 300px;
    animation: slideIn 0.3s ease-out;
}

.container.success {
    background-color: rgb(8, 180, 8);
}

.container.error {
    background-color: red;
}

.container.pending {
    background-color: rgb(225, 194, 18);
}

.container.unknown {
    background-color: grey;
}

.closeButton {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    margin-left: 16px;
    padding: 0 5px;

}