.container {
    width: 100%;
    height: 100vh;
    /* padding: 2rem 1rem; */
    padding: 1rem;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    padding: 1rem;
    height: auto;
}

.topSection {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 2rem;
}

.barWrapper,
.gaugeWrapper {
    flex: 1;
}

.bentoWrapper {
    align-self: flex-end;
    width: 25%;
    /* Adjust this width as needed */
}

.userGrid {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridSkeletons {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1.5rem;
    padding: 0 1rem;
}

.skeletonBox {
    background: linear-gradient(90deg, var(--color-neutral-700) 25%, var(--color-neutral-800) 50%, var(--color-neutral-700) 75%);
    border-radius: var(--border-radius);
    animation: pulse 1.6s infinite ease-in-out;
    background-size: 200% 100%;
    width: 100%;
    height: 100px;
    /* Adjust for each wrapper */
}

.barWrapper .skeletonBox,
.gaugeWrapper .skeletonBox {
    height: 100px;
    /* match PositionBar & HealthFactorBar */
}

.bentoWrapper .skeletonBox {
    height: 180px;
    /* match UserBento height */
}

@keyframes pulse {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}


.card {
    background: var(--color-neutral-700);
    border-radius: 12px;
    padding: 1.5rem;
    color: var(--color-neutral-100);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-4px);
}

.card h3 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-neutral-400);
    margin-bottom: 0.5rem;
}

.card p {
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--color-accent-3);
}

.cardFull {
    grid-column: 1fr;
    background: var(--color-neutral-800);
    border-radius: var(--border-radius);
    padding: 1.5rem;
    color: var(--color-neutral-100);
}

.userAddressContainer {
    grid-column: 1 / -1;
    text-decoration: none;
    margin-bottom: 1rem;
}

.addressCard {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #1f1f30;
    padding: 1rem;
    border-radius: 12px;
    transition: background 0.2s ease;
}

.addressCard:hover {
    background: #2a2a45;
}

.blockie {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.address {
    color: #ccc;
    font-family: monospace;
    font-size: 0.9rem;
}