.container {
    margin-left: 70px;
}

.notice {
    margin-top: 3rem;
    padding: 1.5rem;
    background: var(--color-notice);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

.noticeContent {
    text-align: center;
}

.noticeContent h3 {
    color: var(--color-neutral-900);
    margin-bottom: 0.5rem;
}

.noticeContent p {
    color: var(--color-neutral-700);
}