/* ProtocolStats.module.css */
.container {
    margin-left: 70px;
}

.priceCard {
    background: var(--color-neutral-200);
    border-radius: 16px;
    padding: var(--space-md);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    min-height: 500px;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.cardGrid {
    padding: var(--space-lg);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space-xl);
}