.container {
    width: 75px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: linear-gradient(to right, #fafafa, 60%, #f4f4f4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
}

.titleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menuItem {
    width: 30px;
    min-height: 70px;
    cursor: pointer;
    font-size: 1rem;
    color: #333;
    background-color: transparent;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.connectContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.walletInfoContainer {
    display: block;
    text-align: center;
}

.walletInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.blockies {
    border-radius: 50%;
    margin-right: 5px;
}

@media (max-width: 900px) {
    .container {
        width: 20px;

    }

    .menu {
        align-items: flex-start;
        width: 20px;
    }

    .menuItem {
        width: 100%;
    }
}