@import '../../index.css';

/* General container for the entire MintForm */
.container {
    margin-left: 70px;
}

/* Balance Section */
.balanceContainer {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.balance {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-neutral-700);
}

/* Slider Container for switching between Mint and Burn */
.sliderContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: var(--space-md);
}

.sliderButton {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-neutral-700);
    background-color: var(--color-neutral-200);
    border: 1px solid var(--color-neutral-300);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 48%;
}

.sliderButton:hover {
    background-color: var(--button-hover);
}

.sliderButton.active {
    background-color: var(--color-accent-2);
    color: var(--button-color);
}

/* Mint Section */
.mintSection,
.burnSection {
    width: 100%;
    background-color: var(--color-neutral-50);
    padding: var(--space-md);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-in-out;
}

.mintSection {
    opacity: 1;
}

.burnSection {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
    /* Delayed visibility */
}

.burnSection.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out;
}


/* Sub-title for Mint and Burn */
.subTitle {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-neutral-800);
    margin-bottom: var(--space-sm);
}

/* Input Group */
.inputGroup {
    margin-bottom: var(--space-md);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input {
    width: 100%;
    padding: var(--space-sm);
    font-size: 1rem;
    color: var(--color-neutral-700);
    background-color: var(--input-background);
    border: 1px solid var(--input-border);
    border-radius: 8px;
    transition: all 0.3s ease;
    outline: none;
}

.input:focus {
    border-color: var(--color-accent-2);
    box-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
    background-color: var(--color-neutral-50);
}

/* Labels */
.label {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-neutral-800);
    margin-bottom: var(--space-xs);
}

/* Cost and Receive Information */
.cost,
.receive {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-neutral-600);
    margin-top: 10px;
}

/* Button Styling */
.button {
    width: 100%;
    padding: var(--space-sm);
    background-color: var(--color-accent-2);
    color: var(--button-color);
    font-weight: 600;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.button:hover {
    background-color: var(--color-accent-1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.button:disabled {
    background-color: var(--color-neutral-200);
    cursor: not-allowed;
    box-shadow: none;
}

/* Responsive Design */
@media (max-width: 500px) {
    .card {
        padding: var(--space-md);
        max-width: 90%;
    }

    .input {
        font-size: 0.9rem;
    }

    .button {
        font-size: 0.95rem;
    }
}