.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.navigation {
  width: 75px;
  background: #f4f4f4;
  background: linear-gradient(to-right, white, black);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

}

.dashboard {
  flex-grow: 1;
  padding: var(--space-lg);
  overflow-y: auto;
  background-color: var(--color-neutral-300);
}

.errorContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}